<div class="bg-white">
  <div class="mx-auto max-w-2xl px-4 py-16 sm:px-6 sm:py-24 lg:max-w-7xl lg:px-8">
    <h2 class="sr-only">Products</h2>
    <h1 class="text-balance text-4xl font-bold tracking-tight text-gray-900 sm:text-4xl" style="text-decoration: double; color: rgb(4, 33, 57);">Cricket</h1>
    <br>
    <div class="grid grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 xl:gap-x-8">
      <a href="#" class="group">
        <div class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-lg bg-gray-200 xl:aspect-h-8 xl:aspect-w-7">
          <img src="/assets/images/cricket/cr.jpg" alt="" class="h-full w-full object-cover object-center group-hover:opacity-75">
        </div>
        <h3 class="mt-4 text-sm text-gray-700">CK-101</h3>
        <p class="mt-1 text-lg font-medium text-gray-900"></p>
      </a>
      <a href="#" class="group">
        <div class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-lg bg-gray-200 xl:aspect-h-8 xl:aspect-w-7">
          <img src="/assets/images/cricket/cr1.jpg" alt="" class="h-full w-full object-cover object-center group-hover:opacity-75">
        </div>
        <h3 class="mt-4 text-sm text-gray-700">CK-102</h3>
        <p class="mt-1 text-lg font-medium text-gray-900"></p>
      </a>
      <a href="#" class="group">
        <div class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-lg bg-gray-200 xl:aspect-h-8 xl:aspect-w-7">
          <img src="/assets/images/cricket/cr2.jpg" alt="" class="h-full w-full object-cover object-center group-hover:opacity-75">
        </div>
        <h3 class="mt-4 text-sm text-gray-700">CK-103</h3>
        <p class="mt-1 text-lg font-medium text-gray-900"></p>
      </a>
      <a href="#" class="group">
        <div class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-lg bg-gray-200 xl:aspect-h-8 xl:aspect-w-7">
          <img src="/assets/images/cricket/cr3.jpg" alt="" class="h-full w-full object-cover object-center group-hover:opacity-75">
        </div>
        <h3 class="mt-4 text-sm text-gray-700">CK-104</h3>
        <p class="mt-1 text-lg font-medium text-gray-900"></p>
      </a>
      <a href="#" class="group">
        <div class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-lg bg-gray-200 xl:aspect-h-8 xl:aspect-w-7">
          <img src="/assets/images/cricket/cr4.jpg" alt="" class="h-full w-full object-cover object-center group-hover:opacity-75">
        </div>
        <h3 class="mt-4 text-sm text-gray-700">CK-105</h3>
        <p class="mt-1 text-lg font-medium text-gray-900"></p>
      </a>


      <!-- More products... -->
    </div>
  </div>
</div>
