<main id="mainContainer">
      <!-- <div class="relative isolate px-6 pt-14 lg:px-8"> -->
          <!-- <div class="relative left-[calc(50%-11rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 rotate-[30deg] bg-gradient-to-tr from-[#ff80b5] to-[#9089fc] opacity-30 sm:left-[calc(50%-30rem)] sm:w-[72.1875rem]" ></div> -->
        <!-- </div> -->

        <div class="ui segment">
          <img class="ui centered medium image" src="/assets/logo.jpg" alt="Your Company">
        </div>

    <h1 class="text-balance text-4xl font-bold tracking-tight text-gray-900 sm:text-4xl" style="text-decoration: double; color: rgb(4, 33, 57);">HAWKS FASHION</h1>
    <br>



    <h2 class="home-content-h2"  >Welcome to Hawks Fashion Apparel</h2>
    <br>

    <h3 class="home-content-h3">The Customized Sportswear, Uniforms &amp; Fitness Clothing Supplier</h3>
    <div class="ui divider"></div>

    <p class="home-content-p" >Hawks Fashion Apparel is a Manufacturing and Supplier company based in Sialkot. We offer fully customized sportswear, uniforms and fitness wears range that are exceptional and are designed to suit your custom needs. As a supplier, we meet the demands of global retailers, companies, brands and sports teams. Having our own factories, we handle each and everything involved in the manufacturing process. With years of knowledge, skill and experience, we can handle all kinds of orders and overcome nearly all the problems thanks to our skilled Quality Assurance staff. Take a look at our products and make sure to contact any time for inquiries, questions and business opportunities.</p>
    <div class="ui divider"></div>

    <!-- <app-amercianfootbal>
      <div>Amercian footbal</div>
    </app-amercianfootbal> -->
    <h2 class="home-content-h2" >Thank You For Visiting. Please Contact Us For Details And Pricing.</h2>
    <br>
    <p>
      <b>Address:</b>
      <br>Kashmir Road, Magtown, 51310, Sialkot</p>

      <a [href]="mailto('hawksfashion101@gmail.com', 'newSubject')">hawksfashion101&#64;gmail.com</a>
      <br><br>
      <a href="tel:+1-347-337-1066">Us: 347-337-1066</a>
      <br><br>
      <a href="tel:+92-332-863-1002">Pak: 92-332-863-1002</a>
    </main>

